@font-face {
  font-family: 'Red Rose';
  font-weight: 700;
  src:
    local('Red Rose Bold'),
    url('fonts/RedRose-Bold.ttf') format('truetype'),
    url('fonts/RedRose-Bold.woff') format('woff'),
    url('fonts/RedRose-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Red Rose';
  font-weight: 400;
  src:
    local('Red Rose Regular'),
    url('fonts/RedRose-Regular.ttf') format('truetype'),
    url('fonts/RedRose-Regular.woff') format('woff'),
    url('fonts/RedRose-Regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Red Rose', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #383d3b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: #42b983;
  color: #fff;
  cursor: pointer;
}
